/*
 * einführungstext
 */

#einfuehrungstext {
	width: 300px;
	height: auto;
	background-color: rgb(63,169,245);
	font-family: "Marion", serif;
}

#einfuehrungstext .contentfragment {
	padding: 10px;
	max-height: 130px;
	font-size: 12pt;
	color: rgb(255,255,255);
	font-weight: normal;
	font-style: normal;
	margin: 0px;
	overflow: hidden;
}

/* handle the case that we have very short texts... */
#einfuehrungstext .contentfragment p:first-child {
	margin-top: 0px;
}

#einfuehrungstext .contentfragment p:last-child {
	margin-bottom: 0px;
}

#einfuehrungstext h2 {
	font-size: 15pt;
	font-weight: bold;
	padding: 0px;
	padding-top: 5px;
	margin: 0px;
}

#einfuehrungstext .fullcontentLink a {
	font-size: 12pt;
	color: rgb(255,255,255);
	text-decoration: none;
	background-image: url("./img/Pfeil_weiss01.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-origin: padding-box;
	background-size: 20px 20px;
	padding-top: 12px;
	padding-bottom: 15px;
	padding-left: 20px;
	margin-left: 15px;
	display: block;
}

