html {
    height: 100%;
}

body {
	background-color: rgb(90,90,90);
	font-family: "Avenir Medium", sans-serif;
}


/* Haupttitel */

h1 {
	font-size: 30pt;
	font-weight: normal;
	font-style: normal;
	color: rgb(204,204,204);
	margin: 0px;
	padding: 10px;
	/* avoid that elements can be selected */
	-moz-user-select: none;
	user-select: none;
}

/*
 * add a size for the contentscrollview div that places the footer on the very bottom of the page
 */
article {
    height: -moz-calc(100% - (40px + 20px));
    height: -webkit-calc(100% - (40px + 20px));
}

/*
 * for MFM
 */

iframe {
    display: none;
}

.renderContainer {
    margin-left: 10px;
}

/* button for switching the crudops impl */
#switchImplButton {
	float: right;
}

/* block selection of elements */
* {
  -webkit-user-select: none; 
  -moz-user-select: none;    
  user-select: none; 
}

#mainview.videoview {
	background-color: black;
	transition: background-color 3s;
}

.videoview .renderContainer *{
	display: none;
}

.videoview .renderContainer video {
	display: inline-block;
}