/*
 * toasts
 */
.toast {
    width: 60%;
    position: fixed;
    text-align: center;
    bottom: 15%;
    left: 20%;
    background-color: white;
    opacity: 0.0;
    color: gray;
    /*-moz-transition:opacity 3s, background-color 3s, color 3s;    */
    transition: opacity 3s, background-color 3s, color 3s;
}

.toast.active {
    background-color: gray;
    color: black;
    /*-moz-transition:opacity 3s, background-color 3s, color 3s;    */
    transition: opacity 3s, background-color 3s, color 3s;
    opacity: 1.0;
}

/* 
 * tabs: this is taken from http://www.sitepoint.com/css3-tabs-using-target-selector/ 
 */
article.tabsContainer
{
    position: relative;
    display: block;
    width: 70%;
    height: 75%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 60px;
}

article.tabsContainer section
{
    position: absolute;
    display: block;
    left: 0;
    height: -moz-calc(100% - (40px + 20px));
    width: -moz-calc(100% - (40px + 20px));
    height: -webkit-calc(100% - (40px + 20px));
    width: -webkit-calc(100% - (40px + 20px));
    padding: 20px;
    background-color: #ddd;
    box-shadow: 0 3px 3px rgba(0,0,0,0.4);
    z-index: 0;
}

article.tabsContainer section:first-child
{
    z-index: 1;
}

article.tabsContainer section h2
{
    position: absolute;
    font-size: 1em;
    font-weight: normal;
    width: 150px;
    height: 30px;
    top: -30px;
    left: 10px;
    padding: 0;
    margin: 0;
    color: #999;
    background-color: #ddd;
    /*border-radius: 5px 5px 0 0;*/
}

article.tabsContainer section#newElementTab h2 {
    width: 50px;
}

article.tabsContainer section:nth-child(2) h2
{
    left: 160px;
}

article.tabsContainer section:nth-child(3) h2
{
    left: 310px;
}

article.tabsContainer section:nth-child(4) h2
{
    left: 460px;
}

article.tabsContainer section:nth-child(5) h2
{
    left: 610px;
}

article.tabsContainer section h2 a
{
    display: block;
    width: 100%;
    line-height: 1.8em;
    text-align: center;
    text-decoration: none;
    color: inherit;
    outline: 0 none;
    box-shadow: 0 0 3px rgba(0,0,0,0.4);    
}

article.tabsContainer section:target,
article.tabsContainer section:target h2
{
    color: #333;
    background-color: #fff;
    z-index: 2;
}
article.tabsContainer section:target h2 a {
    box-shadow: none;
}

/* a container for the inactive tabs */
div.inactiveTabsContainer {
    display: none;
}

/*
 * scrolling
 */
div.scrollview {
	overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
    width:100%;
    padding-left: 5px;
    padding-right: 5px;
}
